POSTGRES_USER=odoo
POSTGRES_PASSWORD=CHANGE_ME_WITH_SAFE_CHARACTERS
ODOO_DB=bomberos
ODOO_ADMIN_PASSWORD=CHANGE_ME_WITH_SAFE_CHARACTERS
ODOO_HTTP_PORT=8069
BACKUP_RETENTION_DAYS=14
BACKUP_ROOT=/opt/odoo-bomberos/backups
COMPOSE_PROJECT_NAME=odoo-bomberos
